# Build and Release Folders
.history
build
install
log
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
*.txt.user

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
